@import url('https://fonts.googleapis.com/css2?family=Changa+One&family=Familjen+Grotesk:wght@400;600;700&family=Hanken+Grotesk:ital,wght@1,800&family=Manrope:wght@200&family=Nanum+Myeongjo&family=Playfair+Display&family=Poppins:wght@300;400;600&family=Roboto:wght@400;500;700&display=swap');

*, *::after, *::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    background-image: linear-gradient(to left bottom, #edf3fd, #e7edf4, #e1e6ec, #dbe0e3, #d6d9db);
    font-family: 'Roboto', sans-serif;;
}

h1{
    margin-bottom: 30px;
}

.field{
    padding: 30px;
    border-radius: 10px;
    background-color: #8d8d8d;
    box-shadow: 0 0 5px #090909;
    border: 1px solid black;
}

legend{
    background-color: rgb(22, 22, 22);
    color: #fff;
    padding: 7px;
    font-size: 15px;
    border-radius: 5px;
}

.form-control{
    margin: 30px 0;
}

.form-control input{
    padding: 5px;
    border-radius: 3px;
    margin-left: 5px;
    border: none;
}

.name input, .lastName input, .email input{
    width: 200px;
}

/* Custom Checkbox */
.notify-inner {
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.notify-inner input{
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    border-radius: 2px;
    position: absolute;
    top: 2px;
    left: 70px;
    height: 13px;
    width: 13px;
    background-color: #eee;
}

.checkmark:hover {
    background-color: #ccc;
}
.notify-inner input:checked ~ .checkmark {
    background-color: #333;
}
.checkmark:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}
.notify-inner input:checked ~ .checkmark:after {
    display: block;
}
.notify-inner .checkmark:after {
    left: 4px;
    top: 2px;
    width: 5px;
    height: 8px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* End of Custom Checkbox */

.submit-btn{
    width: 100%;
    position: relative;
    font-size: 15px;
    padding: 5px;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.submit-btn:hover{
    background-color: #333;
    color: white;
}