@import url('https://fonts.googleapis.com/css2?family=Changa+One&family=Familjen+Grotesk:wght@400;600;700&family=Hanken+Grotesk:ital,wght@1,800&family=Manrope:wght@200&family=Nanum+Myeongjo&family=Playfair+Display&family=Poppins:wght@300;400;600&family=Roboto:wght@400;500;700&display=swap');

*, *::after, *::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    background-image: linear-gradient(to left bottom, #edf3fd, #e7edf4, #e1e6ec, #dbe0e3, #d6d9db);
    font-family: 'Roboto', sans-serif;;
}

h1{
    font-size: 1.4rem;
    position: absolute;
    left: 20px;
    top: 10px;
    color: rgb(146, 146, 146);
}

.field{
    padding: 30px;
    border-radius: 10px;
    background-color: #dadada;
    box-shadow: 0 0 10px #858585;
    border: none;
    width: 400px;
}


.form-control{
    margin: 30px 0;
    position: relative;
}

.form-control label{
    font-weight: 400;
}

.form-control input{
    padding: 5px;
    border-radius: 3px;
    margin-left: 5px;
    border: none;
}

.name input, .lastName input, .email input{
    width: 220px;
}

.form-control i{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 60px;
    visibility: hidden;
}

.name i,
.lastName i,
.phoneNumber i {
    position: absolute;
    right: 5px;
}

.birthday i {
    right: 120px;
}

.email i{
    right: 42px;
}

.phoneNumber i{
    right: 23px;
}

.form-control small {
    font-size: 12px;
    position: absolute;
    left: 93px;
    top: 28px;
    color: rgb(175, 1, 1);
    visibility: hidden;
}

.birthday small{
    left: 75px;
    top: 29px;
}

.email small{
    left: 55px;
}

.phoneNumber small{
    left: 122px;
}


/* Custom Checkbox */
.notify-inner {
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 90px;
}

.notify-inner input{
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    border-radius: 2px;
    position: absolute;
    top: 2px;
    left: 70px;
    height: 13px;
    width: 13px;
    background-color: #eee;
}

.checkmark:hover {
    background-color: #ccc;
}
.notify-inner input:checked ~ .checkmark {
    background-color: #333;
}
.checkmark:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}
.notify-inner input:checked ~ .checkmark:after {
    display: block;
}
.notify-inner .checkmark:after {
    left: 4px;
    top: 2px;
    width: 5px;
    height: 8px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* End of Custom Checkbox */

.submit-btn{
    width: 100%;
    position: relative;
    font-size: 15px;
    padding: 8px 5px;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.submit-btn:hover{
    background-color: #6f6f6f;
    color: white;
}